# Data Preparation

In [1]:
# import essential libraries
import pandas as pd
import numpy as np

# import local acquire file
import acquire

In [2]:
df = acquire.get_data()

### 1. Set date to index

In [17]:
# Set date columns as datatime as index
df.date = pd.to_datetime(df.date)
df = df.set_index(df.date)

/var/folders/m8/nlpfy4_x01qb766dcjnc2d4r0000gn/T/ipykernel_86498/2235551068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.date = pd.to_datetime(df.date)

### 2. Drop nulls

In [9]:
df = df.dropna()

### 3. Encode program id

In [18]:
df.head()

,date,time,ip,path,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program
date,,,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,97.105.19.61,/,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:02,97.105.19.61,java-ii,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:05,97.105.19.61,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:06,97.105.19.61,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:24,97.105.19.61,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2,Full Stack Java

In [12]:
df.groupby('program_id').cohort_name.value_counts()

program_id  cohort_name
1           Lassen          9587
            Arches          8890
            Olympic         4954
            Kings           2845
            Hampton         1712
            Quincy          1237
            Glacier          598
            Joshua           302
            Ike              253
            Badlands          93
            Franklin          72
            Denali             4
            Everglades         1
2           Staff          84031
            Ceres          40730
            Zion           38096
            Jupiter        37109
            Fortuna        36902
            Voyageurs      35636
            Ganymede       33844
            Apex           33568
            Deimos         32888
            Teddy          30926
            Hyperion       29855
            Betelgeuse     29356
            Ulysses        28534
            Europa         28033
            Xanadu         27749
            Wrangell       25586
            Andromeda      25359
            Kalypso        23691
            Yosemite       20743
            Bash           17713
            Luna           16623
            Marco          16397
            Sequoia         7444
            Neptune         7276
            Pinnacles       2158
            Oberon          1672
            Niagara          755
            Mammoth          691
3           Darden         32015
            Bayes          26538
            Curie          21581
            Easley         14715
            Florence        8562
4           Apollo             5
Name: cohort_name, dtype: int64

#### Infer the program name by cohort name
1 == full stack php

2 == full stack java

3 == data science

4 == front end

In [13]:
# Encode program id
df['program'] = df.program_id.map({1: 'Full Stack PHP', 2: 'Full Stack Java', 3: 'Data Science', 4: 'Front End'})

/var/folders/m8/nlpfy4_x01qb766dcjnc2d4r0000gn/T/ipykernel_86498/203237091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['program'] = df.program_id.map({1: 'Full Stack PHP', 2: 'Full Stack Java', 3: 'Data Science', 4: 'Front End'})

In [15]:
# Checking if program_id value count matches program encode value counts
df.program_id.value_counts()

2    713365
3    103411
1     30548
4         5
Name: program_id, dtype: int64

In [16]:
df.program.value_counts()

Full Stack Java    713365
Data Science       103411
Full Stack PHP      30548
Front End               5
Name: program, dtype: int64

***

In [4]:
# Putting above stepts into function and import prepare function we wrote above
import prepare

In [5]:
# Calling prep functino to test function
df = prepare.prep_data(df)

In [8]:
df.head()

,date,time,ip,path,user_id,cohort_id,cohort_name,slack,start_date,end_date,program_id,program
date,,,,,,,,,,,,
2018-01-26,2018-01-26,09:55:03,97.105.19.61,/,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:02,97.105.19.61,java-ii,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:05,97.105.19.61,java-ii/object-oriented-programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:06,97.105.19.61,slides/object_oriented_programming,1,8.0,Hampton,#hampton,2015-09-22,2016-02-06,1,Full Stack PHP
2018-01-26,2018-01-26,09:56:24,97.105.19.61,javascript-i/conditionals,2,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2,Full Stack Java